*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "TTNormsBold";
  src: url("./assets/fonts/TTNorms-Bold.otf");
}

@font-face {
  font-family: "TTNormsMedium";
  src: url("./assets/fonts/TTNorms-Medium.otf");
}

@font-face {
  font-family: "TTNormsRegular";
  src: url("./assets/fonts/TTNorms-Regular.otf");
}

.App {
  width: 100vw;
  padding: 0 12.5%;
  height: 100vh;
  background: #0c0c0c;
  background: url("./assets/imgs/background.png") no-repeat;
  background-size: cover;
  @media (max-width: 768px) {
    padding: 0 12px;
  }
}
